<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="{{ url_for('search') }}" class="{% if request.endpoint == 'search' %}active{% endif %}">Search</a>
        {% if nav_link_name and nav_link_url %}
        <a href="{{ nav_link_url }}" target="_blank">{{ nav_link_name }}</a>
        {% endif %}
    </div>

    <!-- Page Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
